.apply {
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 13rem;

  .left {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .right {
    h2.title {
      font-size: 4rem;
      line-height: 4.8rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    p.text {
      max-width: 46rem;
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 400;
      margin-bottom: 2.8rem;
    }

    .apply-btn {
      @include btn;
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: 700;
    }
  }
}
